/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой DONE
✦ card__icon-button — для кнопки, оборачивающей иконку DONE
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки DONE

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  font-family: var(--base-font), sans-serif;
  background: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: 'wght' var(--base-font-weight);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--main-color);
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  font-family: var(--accent-font), fantasy, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  background: var(--background-color);
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  margin-block-start: 20px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.header__theme-menu {
  margin-inline-start: 20px;
}

.theme-menu__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 25px 0;
}

.theme-menu__item {
  font-size: 14px;
  line-height: 14px;
}

.theme-menu__button {
  position: relative;
  border: none;
  padding: 0;
  text-transform: inherit;
  background: none;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 60%;
  transition: opacity 0.3s ease;
}
.theme-menu__button:focus-visible,
.theme-menu__button:focus {
  outline: none;
  opacity: 60%;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  display: block;
  margin-block-start: 1px;
  background: var(--main-color);
  transition: scale 0.3s ease;
  transform-origin: 0;
  block-size: 2px;
  inline-size: 100%;
  scale: 0;
}

.theme-menu__button:focus-visible::after {
  scale: 1;
}

.theme-menu__button[disabled=true] {
  opacity: 60%;
  pointer-events: none;
}

.theme-menu__button[disabled=true]::before {
  content: '▶';
  position: absolute;
  animation: nav-menu-pointer 0.5s ease-in-out infinite alternate;
  inset-inline-start: -20px;
}

.main {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--main-color);
  background: var(--background-color);
}

.card__header {
  border-block-end: 2px solid var(--main-color);
  padding: 5px 10px;
  font-size: 18px;
  line-height: 22px;
  font-variation-settings: 'wght' var(--header-font-weight);
}

.card__image-container {
  position: relative;
}

.card__label {
  z-index: 1;
  position: absolute;
  opacity: 50%;
  font-family: var(--accent-font), fantasy, sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-shadow:  
    -1px 0 var(--background-color), 
    0 1px var(--background-color),
    1px 0 var(--background-color),  
    0 -1px var(--background-color);
  mix-blend-mode: hard-light;
  inset-block-start: clamp(1.4375rem, 1.3935rem + 0.1878vw, 1.5625rem);
  inset-inline-end: clamp(0.6875rem, 0.3794rem + 1.3146vw, 1.5625rem);
}

@supports (
  (text-stroke: 1px var(--background-color)) or
    (-webkit-text-stroke: 1px var(--background-color))
) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
  }
}

.card__image {
  display: block;
  inline-size: 100%;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-block-start: 2px solid var(--main-color);
  padding: 25px;
  font-size: 18px;
  line-height: 21px;
  isolation: isolate;
}

.card__content p:not(:last-child) {
  margin-block-end: 27px;
}

.card__button-group {
  display: flex;
  gap: 4px;
  align-self: flex-end;
  border: none;
  background: none;
  block-size: 38px;
}

.like-icon:hover {
  cursor: pointer;
}

.card__icon-button {
  border: 2px solid transparent;
  background: none;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-color);
  transition: border 0.3s ease;
}

.card__like-button {
  position: relative;
  display: block;
  border: 2px solid var(--main-color);
  overflow: hidden;
  font-family: var(--accent-font), fantasy, sans-serif;
  font-size: 14px;
  line-height: 90%;
  background: var(--background-color);
  transition: box-shadow 0.3s ease;
  block-size: 38px;
  inline-size: 130px;
}

.dialog-floppy-button::before,
.card__like-button::before,
.button-save::before {
  content: '';
  position: absolute;
  background: var(--main-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  inset-block-start: 0;
  inset-inline-start: 0;
  block-size: 100%;
  inline-size: 100%;
}

.dialog-floppy-button:hover::before,
.card__like-button:hover::before,
.button-save:hover::before {
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
  cursor: pointer;
}

.button__text {
  position: relative;
  color: var(--accent-color);
  mix-blend-mode: difference;
}

.button__text:hover {
  cursor: pointer;
}

.button-save {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 2px solid var(--main-color);
  overflow: hidden;
  font-family: var(--accent-font), fantasy, sans-serif;
  font-size: 14px;
  line-height: 90%;
  background: var(--background-color);
  transition: box-shadow 0.3s ease;
  inline-size: clamp(19.375rem, 18.7368rem + 2.723vw, 21.1875rem);
  block-size: 55px;
}

.button-save-icon {
  width: 22px;
  height: 22px;
  color: var(--accent-color);
  mix-blend-mode: difference;
}

.dialog-floppy-button:focus,
.button-save:focus,
.card__like-button:focus {
  box-shadow: 2px 2px 0 var(--main-color);
  outline: none;
  transition: box-shadow 0.3s ease;
}

#dialog-floppy::backdrop {
  opacity: 0.75;
  background-color: #000;
}

#dialog-floppy[open] {
  position: fixed;
  display: block;
  border: 2px solid var(--main-color);
  padding: 30px;
  background: var(--background-color);
  inline-size: clamp(21.3125rem, 20.9604rem + 1.5023vw, 22.3125rem);
}

#dialog-floppy:not([open]) {
  opacity: 1;
  pointer-events: none;
}

.dialog-floppy-context {
  display: grid;
  grid-template-columns: min-content 1fr;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.dialog-floppy-text {
  color: var(--main-color);
  font-family: var(--accent-font), fantasy, sans-serif;
  font-weight: var(--base-font-weight);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog-floppy-icon {
  width: 40px;
  height: 40px;
  color: var(--main-color);
}

.dialog-floppy-button {
  margin-block-start: 30px;
  overflow: hidden;
  position: relative;
  border: 2px solid var(--main-color);
  block-size: 38px;
  inline-size: 100%;
  font-family: var(--accent-font), fantasy, sans-serif;
  font-size: 14px;
  line-height: 90%;
  color: var(--main-color);
  text-transform: uppercase;
  background-color: var(--background-color);
}

.filter__sepia {
  filter: sepia(100%);
}

.filter__contrast {
  filter: contrast(200%);
}

.filter__rotate {
  filter: hue-rotate(100deg);
}

.filter__brightness-blur {
  filter: blur(2px) brightness(50%);
}

.filter__saturate {
  filter: saturate(350%);
}

.filter__invert {
  filter: invert(100%);
}

.filter__opacity {
  filter: opacity(80%);
}

@media (width < 376px) {
  #dialog-floppy[open] {
    padding: 30px 38px;
    inline-size: 345px;
  }

  .button-save {
    flex-direction: column;
    block-size: 80px;
  }

  .button-save-icon {
    inline-size: 30px;
    block-size: 30px;
  }
}